<!doctype html>
<html lang="en" class="bg-slate-950 text-slate-100">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> {# For mobile phones #}
        <title>TAROT</title>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script> {# Tailwind CSS #}
    </head>

    <body>
        <h1 class="text-5xl font-semibold text-center mt-6">The TAROT Network</h1>
        <h2 class="text-gray-400 text-lg italic text-center mt-3">Télescope à action rapide pour les objets transitoires</h2>

        <main class="mt-16">
            <div>
            {% if telescope_id == 1 %}
                <h2 class="text-3xl font-semibold">Tarot Calern</h2>
            {% elif telescope_id == 2 %}
                <h2 class="text-3xl font-semibold">Tarot Chili</h2>
            {% elif telescope_id == 3 %}
                <h2 class="text-3xl font-semibold">Tarot Réunion</h2>
            {% elif telescope_id == 4 %}
                <h2 class="text-3xl font-semibold">Tarot Nouvelle-Calédonie</h2>
            {% endif %}
            </div>

            <div class="mt-3">
                <a href="?telescope_id={{ telescope_id|add:"-1" }}" class="rounded-sm px-2 py-1 font-semibold bg-yellow-700 hover:bg-yellow-600 select-none {% if telescope_id == 1 %}pointer-events-none opacity-25{% else %}cursor-pointer{% endif %}">
                    Previous
                </a>
                
                <a href="?telescope_id={{ telescope_id|add:"1"}}" class="rounded-sm px-2 py-1 font-semibold bg-green-700 hover:bg-green-600 select-none {% if telescope_id == 4 %}pointer-events-none opacity-25{% else %}cursor-pointer{% endif %}">
                    Next
                </a>
            </div>
        </main>
    </body>
</html>