<!doctype html>
<html lang="en" class="bg-slate-950 text-slate-100">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> {# For mobile phones #}
        <title>TAROT</title>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script> {# Tailwind CSS #}
    </head>

    <body>
        <h1 class="text-5xl font-semibold text-center mt-6">The TAROT Network</h1>
        <h2 class="text-gray-400 text-lg italic text-center mt-3">Télescope à action rapide pour les objets transitoires</h2>

        <main>
        </main>
    </body>
</html>